body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  transition: 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
  position: sticky;
  top: 0;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero img {
  width: 120px;
  border-radius: 50%;
}

span {
  color: cyan;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.card {
  background: #1e293b;
  margin: 15px auto;
  padding: 20px;
  width: 280px;
  border-radius: 12px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* Contact */
input, textarea {
  display: block;
  margin: 10px auto;
  width: 80%;
  padding: 10px;
}

/* Button */
button {
  padding: 10px 15px;
  background: cyan;
  border: none;
  cursor: pointer;
}

/* Dark/Light Mode */
.light {
  background: white;
  color: black;
}

.light header {
  background: #ddd;
}
